<header class="p-3 bg-dark text-white mb-4">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="/schools" class="nav-link px-2 text-white">Schools</a></li>
        <li><a href="/courses" class="nav-link px-2 text-white">Courses</a></li>
        <li><a href="/batches" class="nav-link px-2 text-white">Batches</a></li>
        <% unless user_signed_in? %>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        <% end %>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>

      <% if user_signed_in? %>
        <div class="dropdown text-end">
          <a href="#" class="d-block text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
            <li><a class="dropdown-item" href="/student/enrollments">Enrollment Requests</a></li>
            <li><a class="dropdown-item" href="/student/courses">My Courses</a></li>
            <li><a class="dropdown-item" href="/student/batches">My Batches</a></li>
            <li><a class="dropdown-item" href="/users/edit">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <%= link_to "Sign out", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %>
          </ul>
        </div>
      <% else %>
        <div class="text-end">
          <a href="/users/sign_in" class="btn btn-outline-light me-2">Login</a>
          <a href="/users/sign_up" class="btn btn-warning">Sign-up</a>
        </div>
      <% end %>
    </div>
  </div>
</header>